<div class="container text-success text-center">
	<i class="ion-help h1"></i>
	<h3>Question #<%= @question.id %></h3>
</div>

<div class="container">
	<% if signed_in? && @question.user == current_user %> 
	<div class="text-center"> 
		<%= link_to "Editar", edit_question_url, class: 'btn btn-success btn-sm btn-block col-lg-3 mx-auto mb-3' %>
	</div>
	<% end %>

	<div class="table-responsive">
		<table class="table">
			<tbody>
				<tr>
					<td class="h4 text-center"> 						
						<% if @question.votes.exists?(user: current_user) %>
						<%= link_to delete_vote_path(@question.id), method: :post, class: "question-upvote upvote-active" do %>
						<span class="upvote-arrow"></span>
						<span class="upvote-count"><%= @question.votes.count %></span>
						<% end %>
						<% else %>
						<%= link_to vote_question_path(@question.id), method: :post, class: "question-upvote" do %>
						<span class="upvote-arrow"></span>
						<span class="upvote-count"><%= @question.votes.count %></span>
						<% end %>
						<% end %>
					</td>
					<td>
						<h4><%= @question.title %></h4>      	
						<div>
							<p><%= markdown(@question.description) %></p>
							<small>
								Publicado por: <i style="color: #FF7F50; font-style: italic;"> 
								<%= @question.user.try(:email) %></i> en 
								<%= @question.created_at.localtime.to_formatted_s(:long) %>
							</small>
						</div>
					</td>
				</tr>         
			</tbody>      
		</table>
	</div>

	<div class="col-lg-12 m-0 p-0">
		<% @question.comments.each do |comment| %>		
		<div class="p-0 m-0" style="font-size: 14px"><img style="width: 15px" src="<%= Gravatar.new("#{comment.user.email}").image_url %>" class="p-0 rounded-circle" /> <%= markdown(comment.body) %> <em class="text-muted">- Comentado el <%= comment.created_at.localtime.to_formatted_s(:short) %></em></div>
		<% end %>
	</div>

	<% if signed_in? %>
	<%= form_for @comment, :url => comments_path do |f| %> <!--#Tambien funciona con  @question.answers.build--> 
	<div class="form-group">
		<p>
			<%= f.hidden_field :commentable_type, value: "Question" %>
			<%= f.hidden_field :commentable_id, value: @question[:id] %>
			<%= f.hidden_field :user_id, value: current_user[:id]  %>
			<%= f.text_area :body, class: "form-control", placeholder: "Comenta esta pregunta", rows: 2 %> 
		</p> 
	</div>
	<div class="actions text-right">
		<%= f.submit "Formular comentario", class: "btn btn-info"%>
	</div>		
	<% end %>
	<% end %>
	<hr>
</div>

<div class="container" style="font-size: 13px;">
	<% @question.answers.each do |answer| %>
	<div class="card mb-2">
		<div class="card-header p-1" style="height: auto">

			<% if answer.votes.exists?(user: current_user) %>
			<%= link_to delete_voteanswer_path(answer.id), method: :post, class: "question-upvote upvote-active" do %>
			<span class="upvote-arrow"></span>
			<span class="upvote-count"><%= answer.votes.count %></span>
			<% end %>
			<% else %>
			<%= link_to vote_answer_path(answer.id), method: :post, class: "question-upvote" do %>
			<span class="upvote-arrow"></span>
			<span class="upvote-count"><%= answer.votes.count %></span>
			<% end %>
			<% end %>

			<header class="card-title m-0">
				<img style="width: 30px" src="<%= Gravatar.new("#{answer.user.email}").image_url %>" class="rounded-circle" />
				<small>
					&mdash;
					<i style="color: #DB3C00; font-style: italic;">
						<%= answer.user.email %>
					</i> en <%= answer.created_at.localtime.to_formatted_s(:long) %>
				</small>
			</header>
		</div>

		<div class="card card-body m-0 p-1">

			<p class="m-0 ml-5" style="font-size: 14px; color: #333"><%= answer.description %></p>
		</div>		

		<i class="card-footer p-1 text-right"><b>Ultima actualización: <%= answer.updated_at.localtime.to_formatted_s(:long) %></b>
			<% if answer.user == current_user %> 
			<%= link_to "Eliminar Respuesta", question_answer_path(answer), method: :delete, data: {confirm: "Se eliminará la respuesta definitivamente"}, class: 'text-danger btn-sm text-right' %></td> 
			<% end %>
		</i>

		<div class="col-lg-10">
			<% answer.comments.each do |comment| %>		
			<p class="p-0 m-0"><img style="width: 20px" src="<%= Gravatar.new("#{comment.user.email}").image_url %>" class="p-0 rounded-circle" /> <%= markdown(comment.body) %> <em class="text-muted">- Comentado el <%= comment.created_at.localtime.to_formatted_s(:short) %></em>
			</p>

			<% end %>
		</div>

	</div>

	<% if signed_in? %>
	<%= form_for @comment, :url => comments_path do |f| %> <!--#Tambien funciona con  @question.answers.build--> 
	<div class="form-group">
		<p>
			<%= f.hidden_field :commentable_type, value: "Answer" %>
			<%= f.hidden_field :commentable_id, value: answer[:id] %>
			<%= f.hidden_field :user_id, value: current_user[:id]  %>
			<%= f.text_area :body, class: "form-control", placeholder: "Comenta esta Respuesta", rows: 2 %> 
		</p> 
	</div>
	<div class="actions text-right">
		<%= f.submit "Formular comentario", class: "btn btn-success"%>
	</div>		
	<% end %>
	<% end %>
	<% end %> <!-- Finaliza Answers-->	


	<% if signed_in? && @question.user = current_user  %>
	<%= form_for [@question, @question.answers.create] do |f|  %> <!--#Tambien funciona con  @question.answers.build--> 
	<div class="form-group">
		<p>
			<h5>Tu Respuesta</h5>
			<%= f.text_area :description, class: "form-control", placeholder: "Responde a esta Pregunta", rows: 3 %> </p> 
		</div>
		<div class="actions text-right">
			<%= f.submit "Formular Respuesta", class: "btn btn-primary"%>
		</div>
		<% end %>

		<% elsif @question.user != current_user %>
		<table class="table table-bordered text-center table-dark">
			<tr class="h6">
				<td><%= link_to "Inicia Sesión", "/users/sign_in", redirect_to: @questions_url, style: "text-decoration: none; color: #FF530D;}" %> o
					<%= link_to "Registrate", "/users/sign_up", style: "text-decoration: none; color: #FF530D" %> para agregar tu respuesta
				</td>
			</tr>
		</table>
		<% end %>
	</div>
	<hr>
