<div class="container">
  <div class="row  mb-25">
    <blockquote class="blockquote col-lg-4">
      <h3 class="mb-1">Lion OverFlow</h3>
      <footer class="blockquote-footer">Este sitio es asombroso! <cite title="Source Title"></cite>

      </footer><br>
      <a><%= link_to "<span class='ion-plus'></span> Formular una Pregunta".html_safe, "/questions/new", class: "btn btn-outline-primary btn-lg btn-block  text-left" %></a>
      <div class="btn btn-dark btn-sm btn-block">
        Starks Registrados <span class="badge badge-light"> <%= User.count %>  </span>
      </div>      
    </blockquote>
    <div class="col-lg-4 text-center ">
      <img src="lion.png" alt="" style="width: 15em">
      
    </div>
    <blockquote class="blockquote col-lg-4">
     <footer class="blockquote-footer">
      <b>Así es como funciona:</b>
      <ol>
        <li>
          Cualquiera puede formular una pregunta
        </li>
        <li>
          Cualquiera puede responder
        </li>
        <li>
          Se vota a favor de las mejores respuestas, y éstas suben a los primeros puestos
        </li>
      </ol>
      <div class="btn btn-light border-warning btn-block"><span class="h4 ion-stats-bars"></span>
       <small class="col-2"><b><%= @questions.count %> </b>preguntas</small>
       <small class="col-2"><b><%= Answer.count %> </b>respuestas</small> 
     </div>

   </footer>
 </blockquote>
</div>
<br>
</div>
<br>
<div class="container">
  <table class="table table-sm table-hover">
    <% @questions.each do |question| %>
    <tbody>
      <tr>  
        <td class="text-center"> 
          <% if question.voted_by? current_user %>
          <%= link_to question_vote_path(question), method: :delete, class: "question-upvote upvote-active" do %>
          <span class="upvote-arrow"></span>
          <span class="upvote-count"><%= question.votes.count %></span>
          <small class="votes">votos</small>
          <% end %>
          <% else %>
          <%= link_to question_vote_path(question), method: :post, class: "question-upvote" do %>
          <span class="upvote-arrow"></span>
          <div></div>
          <span class="upvote-count"><%= question.votes.count %></span>
          <small class="votes">votos</small>     
          <% end %>
          <% end %>
        </td>
        <td> 
          <div class="text-center">
            <small class="text-center"> <%= question.answers.count %></small><br>
            <small class="text-center" style="color: #DB3C00">respuestas</small>
          </div>
        </td>
        <td> 
          <%= link_to question.title, question_path(question), title: question.description, style: "text-decoration: none; color: #179CD1 "%><br> 
          <small class="h-75" style="color: #000; font-style: italic"> —        
           <%= question.user.try(:email) %>             
           <%= question.created_at.localtime.to_formatted_s(:long) %>              
         </small>
       </td>
       <td>
        <% if signed_in? && question.user == current_user %> 
        <%= link_to "Eliminar",  question_path(question), method: :delete, data: {confirm: "Se eliminará la pregunta definitivamente"}, class: 'btn btn-outline-dark btn-sm text-right' %></td> 
        <% end %>
        <% end %>
      </tr> 
    </tbody>

  </table>
  <div class="card card-footer m-5 p-2">
    <h6 class="card-title p-2 mb-2">Estas son todas las preguntas por ahora</h6>
  </div>
</div>
