<!DOCTYPE html>
<html>

<head>
  <title>LionOverflow</title>
  <!--CDN Ionic Framework-->
  <link rel="stylesheet" href="http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
  <%= csrf_meta_tags %>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  
</head>

<body>
 <nav class="navbar navbar-expand-lg navbar-dark bg-dark ">
  <img class="img-thumbnail" src="/lion.png" alt="logo" style="width: 50px; height: 50px; ">
  <%= link_to "LionOverFlow", "/", class: 'h3 nav-link active text-white' %>
  
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarColor01">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/">Preguntas de la comunidad</a>
      </li>
      <% if signed_in? %>
      <!-- <li class="nav-item">        
        <%= link_to "<span class='ion-plus'></span> Salir".html_safe, "/users/sign_out", :method => :delete, class: "nav-link active" %>        
      </li> -->
      <% else %>
      <li>
       <%= link_to("Ingresar", "/users/sign_in", class: "nav-link active") %>
     </li>
     <li>
       <%= link_to("Registrarse", "/users/sign_up", class: "nav-link active") %>
     </li>         
     <% end %>
   </ul>

   <div class="form-inline">
    <div class="form-inline">
      <%= form_tag(questions_path, method: :get) do %>
      <%= text_field_tag :search %>
      <%= submit_tag 'Search', class: 'btn btn-outline-warning my-2 my-sm-0' %>
      <% end %>
    </div>
  </div>

  <% if signed_in? %>
  
  <a class="nav-link user" data-toggle="dropdown" >
    <img src="<%= Gravatar.new("#{current_user.email}").image_url %>" class="rounded-circle"/>
  </a>
  <a><%= link_to "<span class='ion-power'></span>".html_safe, "/users/sign_out", :method => :delete, title:"Cerrar Sesión", class: "text-white h2 nav-link active" %></a> 
  <% end %>
</div>
</nav>

<!--FLASH NOTICE-->
<div class="alert-primary">
  <%  flash.each do |alert, msg| %>
  <%= content_tag(:div, msg, class: "small text-center alert alert-#{alert}" ) %>
  <% end %>
</div>

<div class="container mb-5 pt-5"> 
  <%= yield %>  
</div>

<section class="col-lg-12 p-5" style="background-color: #000;">  <!--pendiente-->
  <div class="row">
    <div class="text-white col-lg-4">
     <h4>Todos los derechos reservados</h4>
     <i>Daniel Tobón</i><br>
     <a href="/">LionOverFlow</a>
     <p>Un sitio hecho con Ruby on Rails</p>
   </div> 

   <div class="text-white col-lg-4">
     <img src="/ruby-on-rails.png" width="100px" alt="ruby-on-rails" style="border: solid #fff 10px"><hr>
     <ul>
       <li>HOME</li>
       <li>QUESTIONS</li>
       <li>ANSWERS</li>
       <li>VOTES</li>
       <li>REDES SOCIALES</li>
     </ul>    
   </div>
   <div class="text-white col-lg-4">
     <h6>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Neque fugit recusandae illum provident totam reprehenderit omnis ad, quasi, labore sint earum perferendis iusto velit pariatur sunt vitae voluptatum ex quas.</h6>
     <i>Daniel Tobón</i><br>
     <a href="/">LionOverFlow</a>
     <p>Un sitio hecho con Ruby on Rails</p>   
   </div>
 </div>
</section>

</body>
</html>
